In [1]:
import pandas as pd

client_data = pd.read_csv('Data/export.csv')
print(client_data.shape)

client_data

(64911906, 6)

,customer_id,account_id,ed_id,event_name,event_timestamp,journey_steps_until_end
0,-784961211,1773350293,12,application_web_approved,2023-03-22T08:45:22.000Z,1
1,-784961211,1773350293,19,application_web_view,2023-03-22T13:32:10.000Z,2
2,-784961211,1773350293,19,application_web_view,2023-03-22T13:32:10.000Z,3
3,-784961211,1773350293,19,application_web_view,2023-03-22T13:32:10.000Z,4
4,-784961211,1773350293,19,application_web_view,2023-03-22T13:32:10.000Z,5
...,...,...,...,...,...,...
64911901,-865005459,-983311387,29,account_activitation,2021-05-14T00:00:00.000Z,40
64911902,-865005459,-983311387,5,view_cart,2021-05-15T09:27:47.000Z,41
64911903,-865005459,-983311387,24,campaignemail_clicked,2021-05-15T14:27:33.000Z,42
64911904,-865005459,-983311387,27,account_downpaymentcleared,2021-05-16T00:00:00.000Z,43
64911905,-865005459,-983311387,28,order_shipped,2021-05-18T00:00:00.000Z,44

In [76]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time

In [16]:
client_data.isna().any()

customer_id                False
account_id                 False
ed_id                      False
event_name                 False
event_timestamp            False
journey_steps_until_end    False
dtype: bool

In [17]:
client_data.head(10)

,customer_id,account_id,ed_id,event_name,event_timestamp,journey_steps_until_end
0,-784961211,1773350293,12,application_web_approved,2023-03-22T08:45:22.000Z,1
1,-784961211,1773350293,19,application_web_view,2023-03-22T13:32:10.000Z,2
2,-784961211,1773350293,19,application_web_view,2023-03-22T13:32:10.000Z,3
3,-784961211,1773350293,19,application_web_view,2023-03-22T13:32:10.000Z,4
4,-784961211,1773350293,19,application_web_view,2023-03-22T13:32:10.000Z,5
5,-784961211,1773350293,19,application_web_view,2023-03-22T13:32:10.000Z,6
6,-784961211,1773350293,19,application_web_view,2023-03-22T13:32:10.000Z,7
7,-784961211,1773350293,19,application_web_view,2023-03-22T13:32:10.000Z,8
8,-784961211,1773350293,19,application_web_view,2023-03-22T13:32:10.000Z,9
9,-784961211,1773350293,19,application_web_view,2023-03-22T13:32:10.000Z,10

In [18]:
test_cd = client_data[:1000]
test_cd

,customer_id,account_id,ed_id,event_name,event_timestamp,journey_steps_until_end
0,-784961211,1773350293,12,application_web_approved,2023-03-22T08:45:22.000Z,1
1,-784961211,1773350293,19,application_web_view,2023-03-22T13:32:10.000Z,2
2,-784961211,1773350293,19,application_web_view,2023-03-22T13:32:10.000Z,3
3,-784961211,1773350293,19,application_web_view,2023-03-22T13:32:10.000Z,4
4,-784961211,1773350293,19,application_web_view,2023-03-22T13:32:10.000Z,5
...,...,...,...,...,...,...
995,940754364,-2103448386,4,browse_products,2021-04-10T14:05:25.000Z,65
996,940754364,-2103448386,4,browse_products,2021-04-10T14:06:05.000Z,66
997,940754364,-2103448386,4,browse_products,2021-04-10T14:09:16.000Z,67
998,940754364,-2103448386,4,browse_products,2021-04-10T14:11:03.000Z,68
999,940754364,-2103448386,4,browse_products,2021-04-10T15:03:46.000Z,69

In [77]:
start_time = time.time()  # Capture start time

filtered_data = test_cd.groupby(['customer_id', 'account_id']).apply(lambda x: x.drop('journey_steps_until_end', axis=1).drop_duplicates()).reset_index(drop=True)

end_time = time.time()  # Capture end time
elapsed_time = end_time - start_time
print(f"Elapsed time: {elapsed_time} seconds")

Elapsed time: 0.03195595741271973 seconds

In [78]:
start_time = time.time()  # Capture start time

filtered_data = test_cd.drop('journey_steps_until_end', axis=1).drop_duplicates().reset_index(drop=True)

end_time = time.time()  # Capture end time
elapsed_time = end_time - start_time
print(f"Elapsed time: {elapsed_time} seconds")

Elapsed time: 0.005398988723754883 seconds

In [74]:
a = test_cd.loc[:, test_cd.columns != 'journey_steps_until_end'].transform(lambda k: tuple(k))
a

,customer_id,account_id,ed_id,event_name,event_timestamp
0,-784961211,1773350293,12,application_web_approved,2023-03-22T08:45:22.000Z
1,-784961211,1773350293,19,application_web_view,2023-03-22T13:32:10.000Z
2,-784961211,1773350293,19,application_web_view,2023-03-22T13:32:10.000Z
3,-784961211,1773350293,19,application_web_view,2023-03-22T13:32:10.000Z
4,-784961211,1773350293,19,application_web_view,2023-03-22T13:32:10.000Z
...,...,...,...,...,...
995,940754364,-2103448386,4,browse_products,2021-04-10T14:05:25.000Z
996,940754364,-2103448386,4,browse_products,2021-04-10T14:06:05.000Z
997,940754364,-2103448386,4,browse_products,2021-04-10T14:09:16.000Z
998,940754364,-2103448386,4,browse_products,2021-04-10T14:11:03.000Z
999,940754364,-2103448386,4,browse_products,2021-04-10T15:03:46.000Z

In [90]:
filtered_data = client_data.drop('journey_steps_until_end', axis=1).drop_duplicates()

In [91]:
filtered_data.head(10)

,customer_id,account_id,ed_id,event_name,event_timestamp
0,-784961211,1773350293,12,application_web_approved,2023-03-22T08:45:22.000Z
1,-784961211,1773350293,19,application_web_view,2023-03-22T13:32:10.000Z
14,-784961211,1773350293,3,application_web_submit,2023-03-22T13:32:10.000Z
15,-784961211,1773350293,2,campaign_click,2023-03-22T14:45:22.000Z
16,-784961211,1773350293,19,application_web_view,2023-07-27T14:57:56.000Z
21,-784961211,1773350293,19,application_web_view,2023-08-29T16:01:06.000Z
24,15849251,383997507,4,browse_products,2021-11-04T14:11:15.000Z
25,15849251,383997507,4,browse_products,2021-11-04T14:11:29.000Z
26,15849251,383997507,4,browse_products,2021-11-04T14:12:10.000Z
27,15849251,383997507,4,browse_products,2021-11-04T14:12:21.000Z

In [92]:
filtered_data['journey_steps_until_end'] = filtered_data.groupby(['customer_id', 'account_id']).cumcount() + 1

In [93]:
filtered_data.shape

(56853035, 6)